<div class="container">
    <div class="masthead">
        <span class="pull-left">
            <a href="@Url.Action("Index", "Home")"><span><img class="profile-img" src="~/img/SistemaG9_logo.png" width=190" alt="" /></span></a>
        </span>
        <div class="page-header">
            <h1 class="text-muted text-center"><b><em>Sistema G9 - Rede Sustentável</em></b></h1>
        </div>
        @*<div id="img-social" class="col-xs-1 col-md-3 col-md-offset-2 pull-right">
                <ul class="list-inline">
                    <li>
                        <img src="~/img/facedbook.png" alt="Facebook" title="Facebook" />
                    </li>
                    <li>
                        <img src="~/img/instagram.png" alt="Instagram" title="Instagram" />
                    </li>
                    <li>
                        <img src="~/img/ytube.png" alt="Youtube" title="Youtube" />
                    </li>
                </ul>
                <p class="font_7">
                    <span class="text-right"><em>Tel (98) 9999.9999</em></span>
                </p>
            </div>*@

    </div>
</div>