<div class="callout callout-warning">
    <h4>Seu cadastro ainda não está liberado!</h4>
    <p class="text-justify">
        Seu cadastro ainda não foi liberado pois estamos aguardando a confirmação de seu depósitos. Assim que o usuário a ser pago confirmar que recebeu iremos avisá-lo por e-mail, ou sempre confira aqui o status da sua liberação.<br />
        <span class="label label-info"><b>IMPORTANTE:</b></span> Assim que efetuar o pagamento, envie abaixo seu comprovante bancário pelo botão <b><< Enviar comprovante >></b>, na tela a seguir envie a foto do recibo ou digite as informações contidas nele, pois é somente com o envio dos detalhes do pagamento que seus depósitos serão confirmados e sua conta será liberada.
    </p>
</div>