
@{
    ViewBag.Title = "FAQ";
}

<div class="page-header">
    <div class="bs-component">
        <h1>Veja uma lista de perguntas comuns</h1>
    </div>
</div>

<div class="pager">
    <div class="bs-component">
        <h1 class="text-justify">1. O que realmente é o SistemaG9?</h1>
    </div>
    <div class="lead text-justify">
        <p>
            Resumindo, somos um sistema de doação espontânea em formato de ação entre amigos com o objetivo de ajudar a distribuir renda para seus participantes. A ideia é simples: Ao se cadastrar através de um link único, você depositará R$50,00 na conta de um participante indicado pelo sistema. Após isto, você já será um doador participante e poderá receber 3 doações de R$50,00 depositadas por doadores indicados pelo sistema. Iniciando assim o seu ciclo de doações em 4 níveis.
        </p>
    </div>

    <div class="bs-component">
        <h1 class="text-justify">2.	Isto não é uma pirâmide?</h1>
    </div>
    <div class="lead text-justify">
        <p>
            Não. Aqui no SistemaG9 temos como ideal a doação. Doar para receber, receber para doar, um verdadeiro ciclo. Diferente das pirâmides, onde você paga e fica esperando, quem sabe um dia receber e favorecer somente quem está no topo. Aqui nos dedicamos em conjunto, todos contribuem com todos, pois somos apenas amigos com um propósito: Crescer juntos!
        </p>
    </div>

    <div class="bs-component">
        <h1 class="text-justify">3.	Como funciona?</h1>
    </div>
    <div class="lead text-justify">
        <p>
            Após realizar seu cadastro, você receberá os dados de um participante com sua conta. Você deverá depositar R$ 50,00 nessa conta no prazo de 24 horas e enviar o comprovante para o nosso sistema. Aí, participante recebedor receberá uma notificação para liberar seu acesso ao sistema. Após a liberação da doação, você já terá acesso pleno ao seu Escritório Virtual.
        </p>
    </div>

    <div class="bs-component">
        <h1 class="text-justify">4.	Se é doação, não posso doar qualquer valor?</h1>
    </div>
    <div class="lead text-justify">
        <p>
            Não. A fim de ser um sistema justo e muito efetivo, a doação para cada membro é de R$ 50,00 para o primeiro nível acima, R$ 100,00 para o 2º nível acima, R$ 400,00 para o 3º nível acima e R$ 3.500,00 para o 4º nível acima.
        </p>
    </div>

    <div class="bs-component">
        <h1 class="text-justify">5.	Qual o valor da doação?</h1>
    </div>
    <div class="lead text-justify">
        <p>
            O valor da doação depende do nível. O valor inicial é de R$50,00 (Cinquenta Reais) para o primeiro nível acima, R$ 100,00 para o 2º nível acima, R$ 400,00 para o 3º nível acima e R$ 3.500,00 para o 4º nível acima.
        </p>
    </div>

    <div class="bs-component">
        <h1 class="text-justify">6.	Quanto tempo demora para ativar a minha conta?</h1>
    </div>
    <div class="lead text-justify">
        <p>
            Fazendo seu cadastro, sua posição já fica reservada. Depois de fazer a sua doação para o recebedor que o sistema indicou e enviar do comprovante, sendo liberado pelo recebedor, você já está ativo e apto para receber 3 doações de R$ 50,00 do 1º nível.
        </p>
    </div>

    <div class="bs-component">
        <h1 class="text-justify">7.	Uma vez aprovado, posso colocar quantas pessoas quiser?</h1>
    </div>
    <div class="lead text-justify">
        <p>
            Sim, você pode cadastrar através do link único, quantas pessoas quiser e quando quiser. Apesar de, a você, só ficarem ligados diretamente 3 doadores. Entretanto, com isto, você está contribuindo para alavancar a rede e receber doações de outros níveis, mais rapidamente e com valor maior.
        </p>
    </div>

    <div class="bs-component">
        <h1 class="text-justify">8.	Como saberei que chegou minha vez de receber?</h1>
    </div>
    <div class="lead text-justify">
        <p>
            Você deverá estar atento ao seu Escritório Virtual onde você receberá notificações de doações a realizar e doações a receber, onde você terá de depositar.
        </p>
    </div>

    <div class="bs-component">
        <h1 class="text-justify">9.	Além dos R$ 50,00, terei mais alguma despesa?</h1>
    </div>
    <div class="lead text-justify">
        <p>
            Não. O nosso sistema não cobra mensalidade. E os depósitos são realizados diretamente na conta dos participantes, ou seja, você, seus amigos e todos os membros do site. Dos seus próprios ganhos você irá fazer as doações aos níveis acima, do 2º ao 4º nível.
        </p>
    </div>

    <div class="bs-component">
        <h1 class="text-justify">10. Este sistema é legal?</h1>
    </div>
    <div class="lead text-justify">
        <p>
            Sim. O sistema de doação espontânea é amparado pela legislação brasileira, que não estipula nenhum tipo de regra ou obrigação para doações de pequenos valores, sendo assim possibilitando ser feito sem declarações ou qualquer formalização.
        </p>
    </div>

    <div class="bs-component">
        <h1 class="text-justify">11. Corro o risco de perder dinheiro com este sistema?</h1>
    </div>
    <div class="lead text-justify">
        <p>
            Não. Ao se cadastrar no SistemaG9, o risco que você corre de perder é mínimo de apenas R$ 50,00. Mas isso somente ocorrerá se o sistema parar de se reabastecer, o que é improvável devido às reentradas. Convém salientar que todos temos um círculo de amigos, parentes e conhecidos que com certeza vão se interessar pelo SistemaG9, e terão o mesmo interesse que você para ingressar e se somar aos doadores reentrantes e começar a ganhar dinheiro.
        </p>
        <p>
            Portanto, não perca tempo, ingresse AGORA para o <span class="text-info"><b>SistemaG9</b></span>. Você nunca verá novamente uma oportunidade como esta!
        </p>
    </div>

</div>

<div class="text-center">
    @Html.ActionLink("QUERO PARTICIPAR!", "Create", "Cadastro", null, new { @class = "btn btn-primary btn-lg" })
</div>

@section scripts {
    <script>
        $(function () {
            //Aqui q está o segredo! -> olhe no _Layout.cshtml o li li-mnu-Home
            $("#li-mnu-Faq").addClass("active");
        });
    </script>
}
