<div class="jumbotron lead">

    <h3>Sistema G9 Rede Sustentável - Versão 1.0</h3>
    <div class="nav pull-left">
        <ol class="round">
            <li class="one">
                Cadastro de Clientes.
                <h5>Controle dos Cadastros aos Clientes.</h5>
            </li>

            <li class="two">
                Cadastros e Movimentos de Doações.
                <h5>Controle de Doações.</h5>
            </li>
            <li class="three">
                Controle de Movimento da Matriz, liberação e doações a fazer.
                <h5>Doações, Comprovações e liberações de cadastros.</h5>
            </li>
        </ol>
    </div>
    <div class="nav text-center">
        <span>
            <img src="~/img/sistemaG9.png" height="170" width="200" />
        </span>
    </div>
    
</div>
